<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.r10m.gogoong"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/go_icon"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme_all" >
        <!-- logo -->
        <activity
            android:name="com.r10m.gogoong.LogoActivity"
            android:label="@string/app_name"
            android:theme="@style/MyAppTheme_init">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 메뉴 -->
        <activity android:name="MainActivity"></activity>
        
        <!-- 주변 지도 - navermap -->
        <activity android:name="AroundActivity"></activity>
        
        <!-- 카메라 프리뷰 - AR -->
        <activity android:name="CameraActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name="SettingActivity"></activity>
        
        <!-- marker click 자세한 설명 -->
        <activity 
			android:name="com.r10m.gogoong.DetailPopUp"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateHidden" android:configChanges="orientation|keyboardHidden">
		</activity>
		
        <!-- camara 투명 설명창 -->
        <activity android:name="com.r10m.gogoong.Manual"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent"></activity>
        
        <!-- SNS 연동 -->
        <activity 
			android:name="com.r10m.gogoong.sns.PostingPopup"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateHidden" android:configChanges="orientation|keyboardHidden">
		</activity>
        
        <!-- twitter 연동 -->
        <activity android:name="TwitLogin"
        	android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="TwitPosting"></activity>
        
        <!-- facebook 연동 -->
        <activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <provider android:authorities="com.facebook.app.NativeAppCallContentProvider1509388132610632"
                  android:name="com.facebook.NativeAppCallContentProvider"
                  android:exported="true"/>
        <receiver android:name="com.r10m.gogoong.sns.GoFacebookBroadcastReceiveriver">
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast" />
            </intent-filter>
        </receiver>
        
        
    </application>

</manifest>
